<form [formGroup]="form" (submit)="submit()">
  <input
    type="text"
    class="border w-full py-2 px-4 mb-2"
    placeholder="Product name"
    formControlName="title"
    appFocus
  />

  <p
    class="text-red-700 font-medium mb-2"
    *ngIf="title.errors?.minlength && title.touched"
  >Please fill the title with more than 6 digits. Now it is only {{title.value.length}}
  </p>
  <p
    class="text-yellow-700 font-thin mb-2"
    *ngIf="title.errors?.required"
  >Please fill the title. It cannot be empty
  </p>

  <button
    type="submit"
    class="py-2 px-4 bg-blue-600 text-white"
  >
    Create
  </button>
</form>
